@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
:root {
  --retro1: #0f380f;
  --retro2: #0f250f;
  --retro3: #9bbc0f;
  --retro4: #9b990f;
}

* {
  margin: 0;
  text-decoration: none;
  font-family: "Press Start 2p", sans-serif;
  color: var(--retro1);
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  text-align: center;
  overflow-x: hidden;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #0f0f0f;
}

.content-wrapper {
  width: 500px;
  background-color: var(--retro3);
}

pre {
  font-size: .2em;
  line-height: 1.4;
  font-family: "verdana", sans-serif;
  color: var(--retro2);
  animation: colorChange 5s infinite;
}

@keyframes colorChange {
	50% {color: var(--retro1);}
}

p, h1, h2, h3 {
  padding-bottom: 10px;
}

main p{
  color: var(--retro1);
  text-align: left;
  line-height: 1.2;
  font-size: 1em;
}

a.button {
	background: transparent;
	border: 1px solid var(--retro1);
	color: var(--retro1);
	cursor: hand;
	display: inline-block;
	font-size: .8em;
	margin-bottom: 20px;
	padding: 10px 35px;
	text-decoration: none;
	text-transform: uppercase;
}

a.button:hover {
	background: var(--retro1);
	color: var(--retro3);
}

@media (max-width: 500px) {
  .content-wrapper {
    width: 100%;
  }
  pre {
    font-size: .177em;
}
}
