/* Document
 * ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
:where(html) {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: none; /* 2 */
  text-size-adjust: none; /* 2 */
}

/* Sections
 * ========================================================================== */
/**
 * Remove the margin in all browsers. (opinionated)
 */
:where(body) {
  margin: 0;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Edge, Firefox, and Safari.
 */
:where(h1) {
  font-size: 2em;
  margin-block-end: 0.67em;
  margin-block-start: 0.67em;
}

/* Grouping content
 * ========================================================================== */
/**
 * Remove the margin on nested lists in Chrome, Edge, and Safari.
 */
:where(dl, ol, ul) :where(dl, ol, ul) {
  margin-block-end: 0;
  margin-block-start: 0;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Correct the inheritance of border color in Firefox.
 */
:where(hr) {
  box-sizing: content-box; /* 1 */
  color: inherit; /* 2 */
  height: 0; /* 1 */
}

/* Text-level semantics
 * ========================================================================== */
/**
 * Add the correct text decoration in Safari.
 */
:where(abbr[title]) {
  text-decoration: underline;
  text-decoration: underline dotted;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
:where(b, strong) {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
:where(code, kbd, pre, samp) {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
:where(small) {
  font-size: 80%;
}

/* Tabular data
 * ========================================================================== */
/**
 * 1. Correct table border color in Chrome, Edge, and Safari.
 * 2. Remove text indentation from table contents in Chrome, Edge, and Safari.
 */
:where(table) {
  border-color: currentColor; /* 1 */
  text-indent: 0; /* 2 */
}

/* Forms
 * ========================================================================== */
/**
 * Remove the margin on controls in Safari.
 */
:where(button, input, select) {
  margin: 0;
}

/**
 * Remove the inheritance of text transform in Firefox.
 */
:where(button) {
  text-transform: none;
}

/**
 * Correct the inability to style buttons in iOS and Safari.
 */
:where(button,
input:is([type=button i], [type=reset i], [type=submit i])) {
  -webkit-appearance: button;
}

/**
 * Add the correct vertical alignment in Chrome, Edge, and Firefox.
 */
:where(progress) {
  vertical-align: baseline;
}

/**
 * Remove the inheritance of text transform in Firefox.
 */
:where(select) {
  text-transform: none;
}

/**
 * Remove the margin in Firefox and Safari.
 */
:where(textarea) {
  margin: 0;
}

/**
 * 1. Correct the odd appearance in Chrome, Edge, and Safari.
 * 2. Correct the outline style in Safari.
 */
:where(input[type=search i]) {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Safari.
 */
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

/**
 * Remove the inner padding in Chrome, Edge, and Safari on macOS.
 */
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style upload buttons in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Remove the inner border and padding of focus outlines in Firefox.
 */
:where(button,
input:is([type=button i],
[type=color i],
[type=reset i],
[type=submit i]))::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus outline styles unset by the previous rule in Firefox.
 */
:where(button,
input:is([type=button i],
[type=color i],
[type=reset i],
[type=submit i]))::-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Remove the additional :invalid styles in Firefox.
 */
:where(:-moz-ui-invalid) {
  box-shadow: none;
}

/* Interactive
 * ========================================================================== */
/*
 * Add the correct styles in Safari.
 */
:where(dialog) {
  background-color: white;
  border: solid;
  color: black;
  height: -moz-fit-content;
  height: fit-content;
  left: 0;
  margin: auto;
  padding: 1em;
  position: absolute;
  right: 0;
  width: -moz-fit-content;
  width: fit-content;
}

:where(dialog:not([open])) {
  display: none;
}

/*
 * Add the correct display in all browsers.
 */
:where(summary) {
  display: list-item;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
ul,
ol,
dl,
dd {
  margin-block-end: 0;
}

h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

ul,
ol,
dl {
  padding-left: 1em;
}

@font-face {
  font-family: "Cooper Black Regular";
  src: url("/assets/fonts/Cooper-Black-Regular/Cooper-Black-Regular.ttf");
}
.webrings {
  text-align: center;
  margin: 1em 0;
}
.webrings p {
  margin-block-start: 0;
}
.webrings .garfring {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  border: 0.2em dashed black;
  border-radius: 0.3em;
  font-size: x-large;
  font-family: "Cooper Black Regular", sans-serif;
  background: #ff9c31;
}
.webrings .garfring > div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.3em;
  margin: 0.1em;
}
.webrings .garfring a {
  color: black;
}
.webrings .garfring--controls {
  font-size: smaller;
  border-radius: 0.3em;
  border: 0.2em solid black;
  background: #ffffa5;
}

.buttons p {
  display: flex;
  flex-flow: row wrap;
}
.buttons p a {
  margin: 2px;
}

body {
  background: #303030;
  color: #fff;
  font-family: Arial, "Liberation Sans", Helvetica, sans-serif;
}

nav {
  width: 100%;
  height: auto;
  overflow: auto;
  background: #191919;
}
nav > a {
  text-align: center;
  display: block;
  color: #fff;
  float: left;
  padding: 1em;
  text-decoration: none;
}
nav > a:hover {
  background: #3f3f3f;
}
nav > a.nav-active {
  background: #6b0080;
}

main {
  padding: 0 1em;
  display: grid;
  grid-template-columns: 1fr min(85ch, 100%) 1fr;
}
main a:link {
  text-decoration: none;
  color: cornflowerblue;
}
main a:visited {
  color: mediumorchid;
}
main a:hover {
  text-decoration: underline;
}
main a:active {
  color: darkorange;
}
main > * {
  grid-column: 2;
}

.full-bleed {
  width: 100%;
  grid-column: 1/-1;
}

table {
  margin: 1em 0;
}
table caption {
  font-size: large;
}
table tr {
  vertical-align: top;
}
table tr.odd {
  background-color: #3f3f3f;
}
table tr th,
table tr td {
  padding: 0.4em;
  border: 1px solid gray;
}

footer {
  text-align: center;
  padding: 1em;
}
footer a:link {
  text-decoration: none;
  color: cornflowerblue;
}
footer a:visited {
  color: mediumorchid;
}
footer a:hover {
  text-decoration: underline;
}
footer a:active {
  color: darkorange;
}

p > code,
li > code {
  background: #191919;
  font-size: smaller;
}

.footnote-ref > sup:before {
  content: "[";
}
.footnote-ref > sup:after {
  content: "]";
}

.footnote-back:before {
  content: " ";
}

pre.sourceCode {
  background: #191919;
  overflow-x: auto;
}
pre.sourceCode code.sourceCode .co {
  font-style: italic;
  color: gray;
}
pre.sourceCode code.sourceCode .op {
  color: darkgray;
}
pre.sourceCode code.sourceCode .va {
  color: orange;
}
pre.sourceCode code.sourceCode .kw {
  color: mediumorchid;
}
pre.sourceCode code.sourceCode .cn {
  color: palevioletred;
}
pre.sourceCode code.sourceCode .st {
  color: greenyellow;
}
pre.sourceCode code.sourceCode .dt {
  color: palegreen;
}
pre.sourceCode code.sourceCode .ot {
  color: lightseagreen;
}

/*# sourceMappingURL=main.css.map */
:root {
    --bg: #faf3e5;
    --fg: #252525;
    --link: #20689a;
    --link-visited: #884488;
    --border: #c9bca5;
}

html {
    background: var(--bg);
    color: var(--fg);
    font-family: system-ui, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

body {
    margin: 0 auto;
    max-width: 42em;
    padding: 2em 1em 4em 1em;
}

