---
layout: default
---
<section>
  <a href="/posts/" class="btn">Posts</a>
</section>
<article>
  <h1>{{ page.title }}</h1>
  <p>
    Posted: {{ page.date | date: '%Y-%m-%d' }}<br>
    {% if page.updated %}
    Updated: {{ page.updated | date: '%Y-%m-%d' }}
    {% endif %}
  </p>
  {{ content }}
</article>
{%- if page.comment_id -%}
<a class="btn btn-github" href="https://github.com/nshfm/nshfm.github.io/issues/{{ page.comment_id }}" target="_blank" rel="noreferrer">Comment on GitHub</a>
{%- endif -%}
