---
layout: default
---

<article>
  <h1>{{ page.title }}</h1>
  <p>
    Posted: {{ page.date | date: '%Y-%m-%d' }}<br>
    {% if page.updated %}
    Updated: {{ page.updated | date: '%Y-%m-%d' }}
    {% endif %}
  </p>
  {{ content }}
</article>
<nav class="post-navigation">
  {% if page.next %}
    <a href="{{ page.next.url }}">← Next: {{ page.next.title }}</a>
  {% endif %}
  <br>
  {% if page.previous %}
    <a href="{{ page.previous.url }}">Previous: {{ page.previous.title }} →</a>
  {% endif %}
</nav>
<br>
{%- if page.comment_id -%}
<a href="https://github.com/nshfm/nshfm.github.io/issues/{{ page.comment_id }}" target="_blank" rel="noreferrer"><span class="icon"></span>Comment on GitHub</a>
{%- endif -%}
